<p></p><p><br/></p>
<section>
    <section>
        <section>
            <section>
                <section>
                    <section>
                        <section><span style="font-size: 18px; font-family: 宋体, SimSun;"><strong
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><br/><span
                                style="font-family: 宋体, SimSun; color: rgb(79, 129, 189); font-size: 18px;">实验简介</span></strong></span>
                        </section>
                    </section>
                    <section><br/></section>
                </section>
            </section>
        </section>
    </section>
</section><p><br/></p><p style="line-height: 1.75em;"><span style="font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101);">软件应用于多个方面。典型的软件有电子邮件、嵌入式系统、人机界面、办公套件、操作系统、编译器、数据库、游戏等。同时，各个行业几乎都有计算机软件的应用，如工业、农业、银行、航空、政府部门等。这些应用促进了经济和社会的发展，也提高了工作效率和生活效率。但是，由于软件的特殊存在形式和研发过程，在近50年软件工程的发展过程中，虽然我们简化了开发，提高了效率，细节了分工，提出标准，实践了各种方法论，但是有一些根本的问题，仍然无法得以解</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101);">决。</span></span>
</p>
<section><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 18px; font-family: 宋体, SimSun; color: rgb(79, 129, 189);">&nbsp;</span>
</section>
<section>
    <section>
        <section>
            <section>
                <section>
                    <section>
                        <section><span
                                style="font-size: 18px; font-family: 宋体, SimSun; color: rgb(79, 129, 189);"><strong
                                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">实验目的</strong></span>
                        </section>
                    </section>
                    <p style="line-height: 1.75em;"><br/></p></section>
            </section>
        </section>
    </section>
</section><p
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); line-height: 1.75em;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101); font-size: 16px;">1、掌握软件工程的核心过程。</span>
</p>
<p style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); line-height: 1.75em;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101); font-size: 16px;">2、掌握软件研发各角色分工。</span>
</p>
<p style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); line-height: 1.75em;">
    <span style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-size: 16px;">3、理解研发过程中的各类问题。</span>
</p><p><br/></p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 微软雅黑, Microsoft YaHei;"><br/></span>
</p>
<section>
    <section>
        <section>
            <section>
                <section>
                    <section><p style="line-height: 1.75em;"><span
                            style="font-size: 18px; color: rgb(79, 129, 189); font-family: 宋体, SimSun;"><strong
                            style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">实验流程</strong></span>
                    </p></section>
                    <section><br/></section>
                </section>
            </section>
        </section>
    </section>
</section><p style="line-height: 1.75em;"><span style="font-size: 16px; font-family: 宋体, SimSun;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; font-size: 15px; color: rgb(101, 101, 101);"></span><span
        style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); text-align: justify;">1.</span><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); text-align: justify; font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); text-align: justify; font-family: 宋体;">何为“没有银弹”？</span></strong><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); text-align: justify; font-family: 宋体;"></span></span></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); text-align: justify; font-size: 16px; font-family: 宋体, SimSun;"><br/></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">毫无疑问，没有人会否认“信息技术”是近半个世纪以来对人类日常生活影响最为深远的科学，没有之一。而<span
        style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">“信息技术”的发展，是以“大规模集成电路”与“软</span>件工程”这两门工程学科为基础的，而组成信息技术的这两门重<span
        style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">点学科却在科学界有两个完全不同的结论：</span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; font-family: 宋体; color: rgb(101, 101, 101);">(1)<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(101, 101, 101); font-size: 16px;">集成电路上可容纳</span>的晶</span><span
        style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101);">体管数目，约</span><span
        style="font-family: 宋体, SimSun;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101);">每隔18个月便会增加一倍，性能也将提升一倍</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(178, 178, 178);">&nbsp;(摩尔定律)</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101);">。</span></span></span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101); font-family: 宋体;">(2)<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体; font-size: 16px;">没有任何技术或管理上的进展，能</span></span><span
        style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">够独立地许诺十年内使生产率、可靠性或简洁性获得数量级上的进步&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(178, 178, 178);">(人月神话)</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">。</span></span></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><br/></span>
</p>
<p style="margin: 0px; padding: 0px 0.5em; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: left; line-height: 1.75em;">
    <img src="/upload/202001/20200114_103927.png" title="1.png" alt="1.png"/></p><p><br/></p><p
        style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101); font-family: 宋体, SimSun;">&nbsp;<br/></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">&nbsp;<span
        style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体, SimSun; font-size: 16px;">“没有银弹”是“人月神话”这本书中的一个很重要的观点，表达的核心思想就是：“由于软件的复杂性本质，而使真正的从根本上解决问题的银弹并不存在”。</span></span>
</p>
<section><br/></section><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-variant-numeric: normal; font-stretch: normal; line-height: normal;">2、&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">为何“没有银弹”</span><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101);">?</span></strong></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><br/></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">“没有银弹”似乎已经成为制约“软件工程”的魔咒，至今无法破解。分析其原因，我们不得不谈谈“软件工程”相比于其它工程类学科所独有的一些特性：</span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><br/></span>
</p><p style="line-height: 1.75em;"><span style="font-size: 16px; font-family: 宋体, SimSun;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-size: 15px;">(</span><span
        style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">1)</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">需求易变：</span></span></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">软件工程与建筑工程一样，同属于工程类学科，可人类从未也无法要求建筑师在大楼建设到一半时修改原有设计，重新建造；但人类却可以无休止地要求软件在开发到一半时重新设计，从头构建。其根本原因在于，建筑物属于实体，推倒重来意味着实实在在的经济损失，而软件属于虚拟物品，推倒重来并不能切实地感受到损失，最多是多花点时间，多找些程序员。</span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">(2)</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">软件不可见：</span></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">每个人都明白，软件绝对不是由钢筋水泥组成，软件是由看不见摸不着的一串串的指令构成。我们可以很容易通过科学仪器来检测一个建筑物是否有裂痕，是否漏水，承重及抗震力是否合乎设计要求，但是我们有什么仪器来检测一个软件是否满足条件呢？它看不见也摸不着，只能依靠人类的智慧，还有偏见。如果一只猫跑进一幢建筑物内会发生什么呢？答案是什么也不会发生，但是你能想象如果一只猫踩上你的键盘会发生什么吗？</span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">(3)</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">逻辑复杂：</span></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">我们可以很容易推导出一个建筑物如果能抵御8级地震，那么它一定可以抵御1级地震，但是如果不经验证，我们将无法推导出计算机能正确计算8+8的结果则一定可以正确计算1+1的结果。计算机非常简单，简单到只能处理1和0，正因为它的简单导致了它的复杂和强大。当今的软件代码量均以上万甚至百万行计，有的大型软件如Windows操作系统，代码量以千万行计，如此庞大的代码量可想而知其逻辑判断分支和相互之间的耦合与影响是任何一个测试工具或者方法也没有办法完全覆盖到的。</span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">&nbsp;</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">(4)</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">不可重用：</span></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">所有的建筑物都由钢筋，水泥，玻璃，电缆等组成，一个钢筋制造企业可以制造出适用于大多数建筑物的钢筋来。但是，每一个软件产品都有其不同的特点，我们无法使用现有的构件经过简单的堆砌而制造出一款全新的软件，每个软件产品都针对特定的行业甚至特定的企业解决特定的问题。可以说，任何软件产品的开发都是从0到1的过程。</span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><br/></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">3、软件研发难题</span></strong></span><span
        style="font-size: 16px; font-family: 宋体, SimSun;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-size: 15px;"></span></strong><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-size: 15px;"></span></span>
</p><p style="line-height: 1.75em;"><span style="font-size: 16px; font-family: 宋体, SimSun;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-size: 15px;"><br/></span></strong></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">种种迹象表明，“软件工程”的发展将是极其悲观的，可是人类从未停止探索的脚本，面对如此复杂多变而又不可见的“软件”，我们提出了软件生命周期模型，提出了面向对象的软件开发方法，提出了敏捷开发方法论，并不断改进，以期获得尽可能多的进步，虽然我们无法创造银弹，但我们从未停止创造的脚步，言下之意是：至今仍然“没有银弹”。互联网上流传着这样一则笑话，或许从另一个侧面为我们解释了为何“没有银弹”。</span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">&nbsp;</span>
</p>
<p style="margin: 0px; padding: 0px 0.5em; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: left; line-height: 1.75em;">
    <img src="/upload/202001/20200114_103938.png" title="2.png" alt="2.png"/></p><p><br/></p><p
        style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"></span>
</p>
<table width="677">
    <tbody style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;">
    <tr style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"
        class="firstRow">
        <td style="margin: 0px; padding: 8px 7px; word-wrap: break-word !important; word-break: break-all; border: 1px solid black; max-width: 100%; box-sizing: border-box !important;"
            width="614" valign="top"><p style="line-height: 1.75em;"><span
                style="font-size: 16px; font-family: 宋体, SimSun;"><span
                style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 14px;"><span
                style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">程序员写出自认为没有</span>Bug<span
                style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">的代码</span></span><span
                style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101); font-size: 14px;"></span></span>
        </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">软件测试，发现了</span>20<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个</span>Bug</span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">程序员修改了</span>10<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个</span>Bug<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">，并告诉测试组另外</span>10<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个不是</span>Bug</span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">测试组发现其中</span>5<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个改动根本无法工作，同时又发现了</span>15<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个新</span>Bug</span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">重复</span>3<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">次步骤</span>3<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">和步骤</span>4</span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">鉴于市场方面的压力，和当初制定的乐观的发布时间表，产品终于上市了</span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">用户发现了</span>137<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个新</span>Bug</span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">已经领了项目奖金的程序员不知跑到哪里去了</span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">新组建的项目组修正了差不多全部</span>137<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个</span>Bug<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">，但又发现了</span>456<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个新</span>Bug</span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">最初那个程序员从斐济给饱受拖欠工资之苦的测试组寄来了一张明信片，整个测试组集体辞职</span>
            </p>
            <p style="line-height: 1.75em;"><span style="font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101); font-size: 14px;">公司被竞争对手恶意收购。收购时，软件的最终版本包含</span><span
                    style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 14px;">783<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">个</span>Bug</span></span>
            </p>
            <p style="line-height: 1.75em;"><span style="font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 14px;"><span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">新</span>CEO<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">走马上任，公司雇了一名新程序员重写该软件</span></span><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101); font-size: 14px;"></span></span>
            </p>
            <p style="line-height: 1.75em;"><span
                    style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">程序员写出自认为没有</span>Bug<span
                    style="font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体;">的代码</span></span>
            </p></td>
    </tr>
    </tbody>
</table><p><br/></p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">&nbsp;</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101);">请思考：为</span></strong><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; margin: 0px; padding: 0px; max-width: 100%; color: rgb(101, 101, 101);">何会出现上述问题？应该如何解决？</span></strong></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">&nbsp;</span>
</p>
<p style="margin: 0px; padding: 0px 0.5em; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: left; line-height: 1.75em;">
    <img src="/upload/202001/20200114_103946.png" title="3.png" alt="3.png"/></p><p><br/></p><p
        style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;"><br/></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">人的问题，要首先解决。</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101); font-family: 宋体, SimSun;"><br/></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101); font-family: 宋体, SimSun;"><br/></span>
</p>
<section><br/></section><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101);">&nbsp;</span><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101);">4、</span><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;">需求工程难题</span></strong></span>
</p><p style="line-height: 1.75em;"><br/><span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体;"></span></strong></span><span
        style="font-size: 16px; font-family: 宋体, SimSun;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 15px; font-family: 宋体;"></span></strong><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 15px; font-family: 宋体;"></span></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">软件研发的整个过程充满着不确定性，。我们可以看到，从客户描述自身需求开始，整个研发过程便在一条错误的道路上越走越远。如图所示</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">。</span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><br/></span>
</p>
<p style="margin: 0px; padding: 0px 0.5em; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: left; line-height: 1.75em;">
    <img src="/upload/202001/20200114_103955.png" title="4.png" alt="4.png"/></p><p><br/></p><p
        style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; font-size: 16px;">需求工程主要的问题：</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 15px;">(1).</span><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 15px; font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 15px; font-family: 宋体;">用<span
        style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体; font-size: 16px;">户或者客户说不清楚，说不完整，或者不知道自己想要什么。</span></span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 15px;">(2).</span><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 15px; font-variant-numeric: normal; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体; font-size: 16px;">客户存在一些隐性需求，必须依靠研发人</span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 15px; font-family: 宋体;">员<span
        style="margin: 0px; padding: 0px; max-width: 100%; font-family: 宋体; font-size: 16px;">的提醒，而研发人员也不一定清楚细节。</span></span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);">(3).<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span><span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%;">很多时候，客户并不一定是最终用户。</span></span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; font-size: 15px; color: rgb(101, 101, 101);">付钱<span
        style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(101, 101, 101); font-size: 16px;">的人和使用的人不同。</span></span></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;">&nbsp;</span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101);">5.<span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;</span><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%;">软件研发核心角</span></span></strong></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"><br/><img
        src="/upload/202001/20200114_104003.png" title="5.png" alt="5.png"/></span></p><p style="line-height: 1.75em;">
    <span style="font-size: 16px; font-family: 宋体, SimSun;"><span
            style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);"><br/></span><span
            style="font-family: 宋体, SimSun; font-size: 16px;"><span
            style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101);">(1).<span
            style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span></span><span
            style="font-family: 宋体, SimSun; font-size: 16px;"><span
            style="box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%;">需求分析人员：</span><span
            style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101);">负责明确客户需求，保持与客户和团队的流畅的沟通。</span></span></span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);">(2).<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span><span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%;">软件架构人员：</span></span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; font-size: 15px; color: rgb(101, 101, 101);">对系统进行架构<span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; color: rgb(101, 101, 101); font-size: 16px;">设计，测试设计，确保系统能够满足客户需求。</span></span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);">(3).<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span><span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%;">软件编码人员：</span></span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; font-size: 15px; color: rgb(101, 101, 101);">编码实现，算法实现，功能实现，</span><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);">BUG<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%;">修复等。</span></span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);">(4).<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span><span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%;">软件测试人员：</span></span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; font-size: 15px; color: rgb(101, 101, 101);">对软件进行测试需求分析，设计测试方案和测试<span
        style="margin: 0px; padding: 0px; max-width: 100%; color: rgb(101, 101, 101); font-size: 16px;">用例，开发自动化测试脚本，执行测试，并提交缺陷报告，跟踪验证缺陷是否被修复等。</span></span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);">(5).<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;&nbsp;</span><span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%;">上线运营人员：</span></span><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; font-size: 15px; color: rgb(101, 101, 101);">如果是运营的产品，则是为了确保产品正常运营，保持与用户之间的沟通，收集用户需求或反馈，进而继续改进本产品。如果是一个定制开发的项目，则主要确保对客户做好售后服务，使用培训，安装配置等。</span></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101);"><br/></span></strong></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);">6.<span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%; font-stretch: normal; line-height: normal;">&nbsp;&nbsp;</span><span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%;">软件测试人员的职业发展</span></span></strong></span>
</p><p style="line-height: 1.75em;"><span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="font-family: 宋体, SimSun; margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101);"><span
        style="font-family: 宋体, SimSun; font-size: 16px; margin: 0px; padding: 0px; max-width: 100%;"><br/></span></span></strong></span>
</p><p style="line-height: 1.75em;"><span style="font-size: 16px; font-family: 宋体, SimSun;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="font-family: 宋体, SimSun; box-sizing: border-box !important; overflow-wrap: break-word !important; font-size: 15px; color: rgb(101, 101, 101); margin: 0px; padding: 0px; max-width: 100%;"></span></strong></span>
</p><p style="line-height: 1.75em;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; color: rgb(101, 101, 101); font-size: 16px; font-family: 宋体, SimSun;"></span>
</p>
<p style="margin: 0px; padding: 0px 0.5em; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-align: left; line-height: 1.75em;">
    <img src="/upload/202001/20200114_104011.png" title="6.png" alt="6.png"/></p><p
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); line-height: 1.75em;">
    <span style="font-size: 16px; font-family: 宋体, SimSun;"><strong
            style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
            style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; font-size: 15px; color: rgb(101, 101, 101);"><br/></span></strong></span>
</p>
<p style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; clear: both; min-height: 1em; color: rgb(51, 51, 51); font-family: -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: 0.544px; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); line-height: 1.75em;">
    <span style="font-family: 宋体, SimSun; font-size: 16px;"><strong
            style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
            style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101);">下周推送</span></strong></span><span
        style="font-size: 16px; font-family: 宋体, SimSun;"><strong
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; word-wrap: break-word !important;"><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; font-size: 15px; color: rgb(101, 101, 101);"></span></strong><span
        style="margin: 0px; padding: 0px; max-width: 100%; box-sizing: border-box !important; overflow-wrap: break-word !important; font-family: 宋体; color: rgb(101, 101, 101); font-size: 16px;">：测试与开发团队如何配合.</span></span>
</p><p><br/></p><p><br/></p><p>
</p>