<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书销售</title>
</head>
<body>
<table width="500" border="1" align="center" cellpadding="5">
    <tr>
        <td width="20%">编号</td>
        <td width="30%">书名</td>
        <td width="30%">作者</td>
        <td width="20%">价格</td>
    </tr>

    <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.aut}}</td>
        <td>{{book.pr}}</td>

    </tr>
</table>
</body>
</html>

print(content)
with open('./template/static/index-static.html', mode='w', encoding='utf-8') as file:
file.write(content)

return content


<p>class Solution {</p><p>&nbsp; &nbsp; public String reverseWords(String s) {</p><p>&nbsp; &nbsp; &nbsp; &nbsp; s =
    s.trim(); // 删除首尾空格</p><p>&nbsp; &nbsp; &nbsp; &nbsp; int j = s.length() - 1, i = j;</p><p>&nbsp; &nbsp; &nbsp;
    &nbsp; StringBuilder res = new StringBuilder();</p><p>&nbsp; &nbsp; &nbsp; &nbsp; while(i &gt;= 0) {</p><p>&nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; while(i &gt;= 0 &amp;&amp; s.charAt(i) != &#39; &#39;) i--; // 搜索首个空格</p><p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; res.append(s.substring(i + 1, j + 1) + &quot; &quot;); // 添加单词</p><p>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; while(i &gt;= 0 &amp;&amp; s.charAt(i) == &#39; &#39;) i--; // 跳过单词间空格</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; j = i; // j 指向下个单词的尾字符</p><p>&nbsp; &nbsp; &nbsp; &nbsp; }</p><p>&nbsp;
    &nbsp; &nbsp; &nbsp; return res.toString().trim(); // 转化为字符串并返回</p><p>&nbsp; &nbsp; }</p><p>}</p>
<p>
    董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼董世元真牛逼dhjaskdhsajkdhasjkdhasjkdhasjkdhjkasdhjkasdhsjkahdjkasdhjkasdhas</p>